.gig-div {
        border: 1px solid lightgray;
        border-radius: 10px;
        box-shadow: 2px 2px lightgray;
        font-family: "Cormorant", serif;
        font-size: 1.4rem;
        margin: 1rem auto;
        padding: 1rem;
        width: 30vw;
}

@media (max-width: 600px) {
        .gig-div {
        font-size: 1.2rem;
        width: 70vw;
        }
}