.contact-div {
    color: white;
    font: "Cormorant", serif;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px black;
}

.contact-form {
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px lightgray;
    max-width: 600px; 
    margin: 2rem auto;
    padding: 2rem;
}