.footer {
    color: white;
    font: "Cormorant", serif;
    text-shadow: 1px 1px 1px black;
    margin: 0 auto;
}

.social-div {
    display: flex;
    max-width: 500px;
    margin: 0 auto;
    width: 80vw;
}

.social-buttons-divs {
    display: flex;
    margin: 0 auto;
}

.social-buttons-divs:hover {
    background: #222;
    transition: 0.3s;

}

.social-buttons {
    max-width: 6rem;
    min-width: 4rem;
    padding: .5rem;
    width: 10vw;
}