.navLink {
    border-radius: 10px;
    color: white;
    font-family: "Cormorant", serif;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: 2px 2px 2px black;
    margin: .5rem;
}

.navLink:hover {
    background-color: darkgrey;
}

@media (max-width: 599px) {
    .navLink {
        font-size: 1.3rem;
        margin: .2rem;
    }
}