.production-container {
    background: black;
    height: auto;
    width: 80vw;
    margin: 0 auto;
    max-width: 1200px;
}

.production-image img {
    height: auto;
    width: 80vw;
}

@media (max-width: 600px) {
    .production-container {
        height: auto;
        width: 100vw;
    }

    .production-image img {
        height: auto;
        width: 100vw;
    }
}