.header {
    font-family: "Cormorant", serif;
    font-size: 2rem;
}

.concertRep-container {
    column-count: 2;
    min-width: 375px;
    max-width: 1200px;
    margin: 0px auto;
}

.concert-table {
    margin: 0px auto;
    padding: .5rem;
}

.concertTable-header, .concertTable-header2 {
    text-align: left;
    font-family: "Cormorant", serif;
    font-size: 1.6rem;
    padding: .2rem;
}

.composer-col, .work-col {
    text-align: left;
    font-family: "Cormorant", serif;
    font-size: 1.4rem;
    padding: .2rem;
}

@media (max-width: 599px) {
    .concertRep-container {
        column-count: 1;
    }

    .concertTable-header2 {
        display: none;
    }
}